importaciones

In [149]:
import pandas as pd
import numpy as np
import re
from textblob import TextBlob

se extraen los datos limpios

In [150]:
df_games = pd.read_parquet('../archivos_limpios/games.parquet')

df_reviews = pd.read_parquet('../archivos_limpios/reviews.parquet')

df_items = pd.read_parquet('../archivos_limpios/items.parquet')

En el dataset user_reviews se incluyen reseñas de juegos hechos por distintos usuarios. Debes crear la columna 'sentiment_analysis' aplicando análisis de sentimiento con NLP con la siguiente escala: debe tomar el valor '0' si es malo, '1' si es neutral y '2' si es positivo. Esta nueva columna debe reemplazar la de user_reviews.review para facilitar el trabajo de los modelos de machine learning y el análisis de datos. De no ser posible este análisis por estar ausente la reseña escrita, debe tomar el valor de 1.

In [151]:
def analisis_sentimiento(review):
    if review is None:
        return 1
    analysis = TextBlob(review)
    polarity = analysis.sentiment.polarity
    if polarity < -0.2:
        return 0  
    elif polarity > 0.2: 
        return 2 
    else:
        return 1

In [152]:
df_reviews['sentiment_analysis'] = df_reviews['reviews_review'].apply(analisis_sentimiento)
df_reviews

,user_id,user_url,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,1
1,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,1
2,evcentric,http://steamcommunity.com/id/evcentric,Posted February 3.,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...,2
3,doctr,http://steamcommunity.com/id/doctr,"Posted October 14, 2013.",250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2
4,maplemage,http://steamcommunity.com/id/maplemage,"Posted April 15, 2014.",211420,35 of 43 people (81%) found this review helpful,True,Git gud,1
...,...,...,...,...,...,...,...,...
231291,How51,http://steamcommunity.com/id/How51,"Posted August 15, 2014.",440,No ratings yet,True,TF2 is alot of fun and its really good but the...,1
231293,76561198111410893,http://steamcommunity.com/profiles/76561198111...,"Posted August 2, 2014.",304930,No ratings yet,True,Fun game with friends,1
231419,zaza147,http://steamcommunity.com/id/zaza147,"Posted July 31, 2015.",265630,No ratings yet,True,So Fun!! :D,2
231499,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,"Posted December 20, 2015.",304050,No ratings yet,True,"This game is great. The only thing is,Why cant...",1
231501,EchoXSilence,http://steamcommunity.com/id/EchoXSilence,Posted February 3.,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...,1

se elimina la columna de 'reviews_review' ya que no se usara mas

In [153]:
#df_reviews = df_reviews.drop(columns=['reviews_review'])
#df_reviews.to_parquet('reviews.parquet')
df_reviews

,user_id,user_url,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,1
1,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,1
2,evcentric,http://steamcommunity.com/id/evcentric,Posted February 3.,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...,2
3,doctr,http://steamcommunity.com/id/doctr,"Posted October 14, 2013.",250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...,2
4,maplemage,http://steamcommunity.com/id/maplemage,"Posted April 15, 2014.",211420,35 of 43 people (81%) found this review helpful,True,Git gud,1
...,...,...,...,...,...,...,...,...
231291,How51,http://steamcommunity.com/id/How51,"Posted August 15, 2014.",440,No ratings yet,True,TF2 is alot of fun and its really good but the...,1
231293,76561198111410893,http://steamcommunity.com/profiles/76561198111...,"Posted August 2, 2014.",304930,No ratings yet,True,Fun game with friends,1
231419,zaza147,http://steamcommunity.com/id/zaza147,"Posted July 31, 2015.",265630,No ratings yet,True,So Fun!! :D,2
231499,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,"Posted December 20, 2015.",304050,No ratings yet,True,"This game is great. The only thing is,Why cant...",1
231501,EchoXSilence,http://steamcommunity.com/id/EchoXSilence,Posted February 3.,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...,1

In [154]:
#verifico que no queden nulos o vacios
df_reviews.isnull().sum()

user_id               0
user_url              0
reviews_posted        0
reviews_item_id       0
reviews_helpful       0
reviews_recommend     0
reviews_review        0
sentiment_analysis    0
dtype: int64

aca empezamos a crear dataframes para realizar las funciones solicitadas empezando por:

PlayTimeGenre( genero : str ): Debe devolver año con mas horas jugadas para dicho género.

In [155]:
columnas_seleccionadas = ['genres','release_date','id']
df_1 = df_games[columnas_seleccionadas]

columnas_seleccionadas_2 = ['item_id','playtime_forever', 'user_id']
df_2 = df_items[columnas_seleccionadas_2]

In [156]:
df_2 = df_2.rename(columns={"item_id": "id"})
df_2

             id  playtime_forever            user_id
0            10                 6  76561197970982479
1            20                 0  76561197970982479
2            30                 7  76561197970982479
3            40                 0  76561197970982479
4            50                 0  76561197970982479
...         ...               ...                ...
5153204  346330                 0  76561198329548331
5153205  373330                 0  76561198329548331
5153206  388490                 3  76561198329548331
5153207  521570                 4  76561198329548331
5153208  519140                 3  76561198329548331

[5094105 rows x 3 columns]

In [157]:
# me encontre con que los tipos de datos eran diferentes por lo que tuve que volverlos los mismos en la columna de id 
# para poder usar merge

# cheque el tipo de dato
print(df_1["id"].dtype)
print(df_2["id"].dtype)

# convierte si es necesario
if df_1["id"].dtype != df_2["id"].dtype:
    if pd.api.types.is_numeric_dtype(df_1["id"].dtype):
        df_2["id"] = df_2["id"].astype(df_1["id"].dtype)
    else:
        df_1["id"] = df_1["id"].astype(df_2["id"].dtype)

# utiliza merge para convinar ambos df
df_unido = pd.merge(left=df_1, right=df_2, how="inner", on="id")

float64
object

In [158]:
df_unido['release_date'].value_counts()

release_date
Valor no disponible    294297
2017-07-07             153112
2011-05-16             117362
2017-08-24             107835
2017-08-29             103202
                        ...
2016-06-25                  1
2009-09-21                  1
2005-09-01                  1
2016-05-22                  1
2007-12-14                  1
Name: count, Length: 2664, dtype: int64

In [159]:
df_unido["year"] = df_unido["release_date"].apply(lambda x: x.split("-")[0])

In [160]:
df_unido = df_unido.drop(columns=['release_date'])

In [161]:
df_unido['year'].unique()

array(['1997', '1998', '2006', 'Valor no disponible', '2005', '2003',
       '2007', '2002', '2000', '1995', '1996', '1994', '2001', '1993',
       '2004', '1999', '2008', '2009', 'Jun 2009', '1992', '1989', '2010',
       '2011', 'Oct 2010', 'Feb 2011', '2013', '2012', '2014', '2017',
       '1983', '1984', '2015', '2016', 'Sep 2014', '1990', '1988', '1991',
       'Apr 2015', 'Apr 2016', '1987', 'Not yet available', 'Apr 2017',
       'Coming soon..', 'Coming Soon!', 'Oct 2016', 'Jul 2016', 'TBD',
       '2018', 'Aug 2015', 'Jun 2015', 'May 2015', 'Aug 2014', 'Jul 2014',
       'May 2014', 'Dec 2012', 'Mar 2010', 'Oct 2009', 'Sep 2009'],
      dtype=object)

aca se elimino datos que no estaban correctamente y se los remplazo por uno mas util

In [162]:
df_unido["year"] = df_unido["year"].replace('Jun 2009', 2009)
df_unido["year"] = df_unido["year"].replace('Oct 2009', 2009)
df_unido["year"] = df_unido["year"].replace('Sep 2009', 2009)
df_unido["year"] = df_unido["year"].replace('Oct 2010', 2010)
df_unido["year"] = df_unido["year"].replace('Mar 2010', 2010)
df_unido["year"] = df_unido["year"].replace('Feb 2011', 2011)
df_unido["year"] = df_unido["year"].replace('Dec 2012', 2012)
df_unido["year"] = df_unido["year"].replace('Sep 2014', 2014)
df_unido["year"] = df_unido["year"].replace('Aug 2014', 2014)
df_unido["year"] = df_unido["year"].replace('Jul 2014', 2014)
df_unido["year"] = df_unido["year"].replace('May 2014', 2014)
df_unido["year"] = df_unido["year"].replace('Apr 2015', 2015)
df_unido["year"] = df_unido["year"].replace('Aug 2015', 2015)
df_unido["year"] = df_unido["year"].replace('Jun 2015', 2015)
df_unido["year"] = df_unido["year"].replace('May 2015', 2015)
df_unido["year"] = df_unido["year"].replace('Apr 2016', 2016)
df_unido["year"] = df_unido["year"].replace('Oct 2016', 2016)
df_unido["year"] = df_unido["year"].replace('Jul 2016', 2016)
df_unido["year"] = df_unido["year"].replace('Apr 2017', 2017)
df_unido["year"] = df_unido["year"].replace('Not yet available', 'Valor no disponible')
df_unido["year"] = df_unido["year"].replace('Coming soon..', 'Valor no disponible')
df_unido["year"] = df_unido["year"].replace('Coming Soon!', 'Valor no disponible')
df_unido["year"] = df_unido["year"].replace('TBD', 'Valor no disponible')

In [163]:
df_unido['year'].unique()

array(['1997', '1998', '2006', 'Valor no disponible', '2005', '2003',
       '2007', '2002', '2000', '1995', '1996', '1994', '2001', '1993',
       '2004', '1999', '2008', '2009', 2009, '1992', '1989', '2010',
       '2011', 2010, 2011, '2013', '2012', '2014', '2017', '1983', '1984',
       '2015', '2016', 2014, '1990', '1988', '1991', 2015, 2016, '1987',
       2017, '2018', 2012], dtype=object)

In [164]:
# se usa una mascara para filtrar por año y cambiar dtypes
invalid_mask = df_unido["year"].isna()  
df_unido.loc[invalid_mask, "year"] = pd.NaT

In [165]:
df_unido['genres'].unique()

array(['Action', 'Indie', 'Racing', 'Strategy', 'RPG', 'Simulation',
       'Sports', 'Casual', 'Adventure', 'Massively Multiplayer',
       'Utilities', 'Education', 'Software Training', 'Web Publishing',
       'Audio Production', 'Video Production', 'Photo Editing',
       'Animation & Modeling', 'Design & Illustration'], dtype=object)

In [166]:

# Se transforma la columna 'playtime_forever' a horas, asumiendo que la columna esta en minutos
df_unido['playtime_forever'] = df_unido['playtime_forever']/60

In [167]:
df_play_genres = df_unido.groupby(['genres', 'year'])['playtime_forever'].sum().reset_index()
df_play_genres

             genres                 year  playtime_forever
0            Action                 2009        576.450000
1            Action                 2014        133.166667
2            Action                 2015     171899.250000
3            Action                 2016       1207.566667
4            Action                 2017          0.000000
..              ...                  ...               ...
358  Web Publishing                 2014        560.683333
359  Web Publishing                 2015       5811.216667
360  Web Publishing                 2016          2.266667
361  Web Publishing                 2017        156.366667
362  Web Publishing  Valor no disponible          0.000000

[363 rows x 3 columns]

In [168]:
df_play_genres = df_play_genres.loc[~df_play_genres["year"].isin(["Valor no disponible"])]
df_play_genres

             genres  year  playtime_forever
0            Action  2009        576.450000
1            Action  2014        133.166667
2            Action  2015     171899.250000
3            Action  2016       1207.566667
4            Action  2017          0.000000
..              ...   ...               ...
357  Web Publishing  2013       5561.300000
358  Web Publishing  2014        560.683333
359  Web Publishing  2015       5811.216667
360  Web Publishing  2016          2.266667
361  Web Publishing  2017        156.366667

[344 rows x 3 columns]

In [169]:
df_play_genres["year"] = pd.to_datetime(df_play_genres["year"], format="%Y")
df_play_genres["year"] = df_play_genres["year"].dt.year
df_play_genres

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7072\375100629.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_play_genres["year"] = pd.to_datetime(df_play_genres["year"], format="%Y")
C:\Users\Usuario\AppData\Local\Temp\ipykernel_7072\375100629.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_play_genres["year"] = df_play_genres["year"].dt.year

             genres  year  playtime_forever
0            Action  2009        576.450000
1            Action  2014        133.166667
2            Action  2015     171899.250000
3            Action  2016       1207.566667
4            Action  2017          0.000000
..              ...   ...               ...
357  Web Publishing  2013       5561.300000
358  Web Publishing  2014        560.683333
359  Web Publishing  2015       5811.216667
360  Web Publishing  2016          2.266667
361  Web Publishing  2017        156.366667

[344 rows x 3 columns]

In [170]:
df_play_genres.to_parquet('play_time_genres.parquet')

def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.

In [171]:
# Se agrupa por usuario y se suma el tiempo de juego
df_genre_user = df_unido.groupby(['genres', 'user_id'])['playtime_forever'].sum().reset_index()
df_genre_user

                genres            user_id  playtime_forever
0               Action            --000--       2331.416667
1               Action            --ace--       1155.416667
2               Action          --ionex--        639.666667
3               Action       -2SV-vuLB-Kg        714.300000
4               Action  -404PageNotFound-       1978.283333
...                ...                ...               ...
569944  Web Publishing            zepavil        632.100000
569945  Web Publishing           zeshirky          0.016667
569946  Web Publishing          zevlupine          0.066667
569947  Web Publishing            zilaman          0.150000
569948  Web Publishing          zipper559          0.050000

[569949 rows x 3 columns]

In [172]:
df_genre_user['genres'].unique()

array(['Action', 'Adventure', 'Animation & Modeling', 'Audio Production',
       'Casual', 'Design & Illustration', 'Education', 'Indie',
       'Massively Multiplayer', 'Photo Editing', 'RPG', 'Racing',
       'Simulation', 'Software Training', 'Sports', 'Strategy',
       'Utilities', 'Video Production', 'Web Publishing'], dtype=object)

In [173]:
# aca al final decidi utilizar un filtro para los usar los index de los usuarios con mas tiempos en cada genero ya que el peso era mucho,
# aunque igual deje guardado el original por si quisiera un top de algun genero

filtro = [50703,112773,130536,130971,171239,188012,189859,237219,290818,311640,368495,388788,454140,
          462676,464812,554632,559288,565859,569000]
df_best_players = df_genre_user.iloc[filtro]
df_best_players
df_user_x_genre_part1 = df_best_players
df_user_x_genre_part1.to_parquet('user_for_genre_part_1.parquet')

In [174]:
df_genre_2 = df_unido.groupby(['genres', 'user_id'])['playtime_forever'].sum().reset_index()

In [175]:
df_genre_rank = df_genre_2.groupby('genres')['playtime_forever'].sum().reset_index()
# Se ordena por 'playtime_horas'
df_genre_rank = df_genre_rank.sort_values(by='playtime_forever', ascending=False)
# Agregar una columna con la posición del ranking
df_genre_rank['ranking'] = df_genre_rank['playtime_forever'].rank(ascending=False).astype(int)
df_genre_rank

                   genres  playtime_forever  ranking
0                  Action      5.383534e+07        1
7                   Indie      2.473555e+07        2
10                    RPG      1.726837e+07        3
12             Simulation      1.681338e+07        4
1               Adventure      1.680433e+07        5
15               Strategy      1.333935e+07        6
8   Massively Multiplayer      8.161285e+06        7
4                  Casual      4.215777e+06        8
14                 Sports      1.144357e+06        9
11                 Racing      1.121706e+06       10
16              Utilities      8.169365e+04       11
18         Web Publishing      4.601252e+04       12
17       Video Production      4.079118e+04       13
13      Software Training      1.229280e+04       14
6               Education      1.201460e+04       15
3        Audio Production      1.003303e+04       16
5   Design & Illustration      2.229717e+03       17
2    Animation & Modeling      2.021283e+03       18
9           Photo Editing      1.908367e+03       19

In [176]:
df_genre_rank.to_parquet('user_for_genre_part_2.parquet')

def UsersRecommend( año : int ): Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [177]:
df_reviews.head(2)

,user_id,user_url,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...,1
1,js41637,http://steamcommunity.com/id/js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,1

In [178]:
df_games.head(2)

,genres,app_name,url,release_date,reviews_url,price,id,developer
88310,Action,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0,Kotoshiro
88310,Casual,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0,Kotoshiro

In [179]:
# cheque el tipo de dato
print(df_games["id"].dtype)
print(df_reviews["reviews_item_id"].dtype)

df_1 = df_games
df_2 = df_reviews

# convierte si es necesario
if df_1["id"].dtype != df_2["reviews_item_id"].dtype:
    if pd.api.types.is_numeric_dtype(df_1["id"].dtype):
        df_2["reviews_item_id"] = df_2["reviews_item_id"].astype(df_1["id"].dtype)
    else:
        df_1["id"] = df_1["id"].astype(df_2["reviews_item_id"].dtype)

float64
object

In [180]:
# cheque el tipo de dato
print(df_games["id"].dtype)
print(df_reviews["reviews_item_id"].dtype)

float64
float64

ahora que deje corregido el tipo de dato en ambos df, agarrare las columnas pertinentes y hare un merge

en cuanto a las columnas tengo que agarrar:
de los reviews:  reviews_item_id, reviews_recommend, reviews_posted
de los games:  id, app_name

con estos datos podre realizar una reduccion considerable de base de datos a guardar.

In [181]:
df_1 = df_reviews
df_2 = df_games

veo en que formato estan guardados el año de review

In [182]:
lista_anos = []
lista_anos = df_1['reviews_posted'].unique()
print(lista_anos)

['Posted November 5, 2011.' 'Posted June 24, 2014.' 'Posted February 3.'
 ... 'Posted January 3, 2011.' 'Posted December 12, 2010.'
 'Posted July 16, 2011.']

In [183]:
def extraer_anio(fecha):
    patron = r'\d{4}'  # Expresión regular para encontrar el año (4 dígitos seguidos)
    coincidencias = re.findall(patron, fecha)
    if coincidencias:
        return int(coincidencias[0])  # Devuelve el primer año encontrado como entero
    else:
        return None

# Aplicamos la función a la columna 'fecha' y creamos una nueva columna 'anio'
df_1['anio'] = df_1['reviews_posted'].apply(extraer_anio)

In [184]:
#de los reviews:  reviews_item_id, reviews_recommend, reviews_posted
#de los games:  id, app_name
df_1 = df_1.rename(columns={'reviews_item_id': 'id'})

In [185]:
df_3 = pd.merge(df_1, df_2, on='id', how='outer')
df_3

,user_id,user_url,reviews_posted,id,reviews_helpful,reviews_recommend,reviews_review,sentiment_analysis,anio,genres,app_name,url,release_date,reviews_url,price,developer
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...,1.0,2011.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
1,EndAtHallow,http://steamcommunity.com/id/EndAtHallow,"Posted January 15, 2015.",1250.0,No ratings yet,True,"I've played a lot of zombie games in my time, ...",1.0,2015.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
2,76561198077432581,http://steamcommunity.com/profiles/76561198077...,"Posted December 12, 2014.",1250.0,No ratings yet,True,I can't wait for Killing Floor 2! I just love ...,1.0,2014.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
3,76561198057958244,http://steamcommunity.com/profiles/76561198057...,"Posted December 13, 2013.",1250.0,0 of 1 people (0%) found this review helpful,True,YES I RECCODMEEENDD THIS ♥♥♥♥♥ GAME,0.0,2013.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
4,46366536564574576346346546,http://steamcommunity.com/id/46366536564574576...,"Posted August 19, 2014.",1250.0,2 of 3 people (67%) found this review helpful,True,wow killihg Floor I like,1.0,2014.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191146,NaN,NaN,NaN,658870.0,NaN,NaN,NaN,NaN,NaN,Indie,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,http://steamcommunity.com/app/658870/reviews/?...,4.99,"xropi,stev3ns"
191147,NaN,NaN,NaN,681550.0,NaN,NaN,NaN,NaN,NaN,Adventure,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,Valor no disponible
191148,NaN,NaN,NaN,681550.0,NaN,NaN,NaN,NaN,NaN,Indie,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,Valor no disponible
191149,NaN,NaN,NaN,681550.0,NaN,NaN,NaN,NaN,NaN,Action,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,Valor no disponible
191150,NaN,NaN,NaN,681550.0,NaN,NaN,NaN,NaN,NaN,Simulation,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,Valor no disponible

In [186]:
df_3.columns

Index(['user_id', 'user_url', 'reviews_posted', 'id', 'reviews_helpful',
       'reviews_recommend', 'reviews_review', 'sentiment_analysis', 'anio',
       'genres', 'app_name', 'url', 'release_date', 'reviews_url', 'price',
       'developer'],
      dtype='object')

In [187]:
df_3 = df_3.drop(columns=['user_url', 'reviews_posted','reviews_helpful','reviews_review','genres','url','release_date',
                           'reviews_url', 'price','developer'])

In [188]:
df_3 = df_3.rename(columns={'id': 'id_game'})
df_3

,user_id,id_game,reviews_recommend,sentiment_analysis,anio,app_name
0,76561197970982479,1250.0,True,1.0,2011.0,Killing Floor
1,EndAtHallow,1250.0,True,1.0,2015.0,Killing Floor
2,76561198077432581,1250.0,True,1.0,2014.0,Killing Floor
3,76561198057958244,1250.0,True,0.0,2013.0,Killing Floor
4,46366536564574576346346546,1250.0,True,1.0,2014.0,Killing Floor
...,...,...,...,...,...,...
191146,NaN,658870.0,NaN,NaN,NaN,EXIT 2 - Directions
191147,NaN,681550.0,NaN,NaN,NaN,Maze Run VR
191148,NaN,681550.0,NaN,NaN,NaN,Maze Run VR
191149,NaN,681550.0,NaN,NaN,NaN,Maze Run VR
191150,NaN,681550.0,NaN,NaN,NaN,Maze Run VR

In [189]:
df_3 = df_3[df_3['reviews_recommend'] != 0]
df_3

,user_id,id_game,reviews_recommend,sentiment_analysis,anio,app_name
0,76561197970982479,1250.0,True,1.0,2011.0,Killing Floor
1,EndAtHallow,1250.0,True,1.0,2015.0,Killing Floor
2,76561198077432581,1250.0,True,1.0,2014.0,Killing Floor
3,76561198057958244,1250.0,True,0.0,2013.0,Killing Floor
4,46366536564574576346346546,1250.0,True,1.0,2014.0,Killing Floor
...,...,...,...,...,...,...
191146,NaN,658870.0,NaN,NaN,NaN,EXIT 2 - Directions
191147,NaN,681550.0,NaN,NaN,NaN,Maze Run VR
191148,NaN,681550.0,NaN,NaN,NaN,Maze Run VR
191149,NaN,681550.0,NaN,NaN,NaN,Maze Run VR
191150,NaN,681550.0,NaN,NaN,NaN,Maze Run VR

In [190]:
df_3 = df_3.dropna()
df_3

,user_id,id_game,reviews_recommend,sentiment_analysis,anio,app_name
0,76561197970982479,1250.0,True,1.0,2011.0,Killing Floor
1,EndAtHallow,1250.0,True,1.0,2015.0,Killing Floor
2,76561198077432581,1250.0,True,1.0,2014.0,Killing Floor
3,76561198057958244,1250.0,True,0.0,2013.0,Killing Floor
4,46366536564574576346346546,1250.0,True,1.0,2014.0,Killing Floor
...,...,...,...,...,...,...
125340,ButtBurger2,73010.0,True,0.0,2012.0,Cities in Motion
125344,haungaraho,16600.0,True,2.0,2012.0,Trials 2: Second Edition
125345,haungaraho,16600.0,True,2.0,2012.0,Trials 2: Second Edition
125346,haungaraho,16600.0,True,2.0,2012.0,Trials 2: Second Edition
125347,UnseenPrecision,232950.0,True,1.0,2014.0,Bridge Project

In [191]:
# Filtrar reseñas positivas
df_positivas = df_3[df_3['sentiment_analysis'] == 2]

# Agrupar por año y juego y contar el número de reseñas positivas
df_agrupado = df_positivas.groupby(['anio', 'id_game','app_name']).size().reset_index(name='num_reviews_positivas')

# Encontrar los juegos con más reseñas positivas por año
resultados = df_agrupado.groupby('anio').apply(lambda x: x.nlargest(3, 'num_reviews_positivas'))
resultados

               anio   id_game                          app_name  \
anio
2010.0 3     2010.0     440.0                   Team Fortress 2
       8     2010.0    4000.0                       Garry's Mod
       6     2010.0    1250.0                     Killing Floor
2011.0 100   2011.0  105600.0                          Terraria
       23    2011.0     440.0                   Team Fortress 2
       27    2011.0     620.0                          Portal 2
2012.0 112   2012.0     440.0                   Team Fortress 2
       198   2012.0  105600.0                          Terraria
       115   2012.0     570.0                            Dota 2
2013.0 253   2013.0     570.0                            Dota 2
       250   2013.0     440.0                   Team Fortress 2
       267   2013.0    4000.0                       Garry's Mod
2014.0 613   2014.0     570.0                            Dota 2
       1309  2014.0  304930.0                          Unturned
       1145  2014.0  252490.0                              Rust
2015.0 1376  2015.0     730.0  Counter-Strike: Global Offensive
       1373  2015.0     570.0                            Dota 2
       1635  2015.0  218620.0                          PAYDAY 2

             num_reviews_positivas
anio
2010.0 3                         5
       8                         4
       6                         3
2011.0 100                      36
       23                       35
       27                       30
2012.0 112                     112
       198                      72
       115                      60
2013.0 253                     388
       250                     332
       267                     230
2014.0 613                     912
       1309                    656
       1145                    585
2015.0 1376                    466
       1373                    348
       1635                    324

In [192]:
UsersRecommend = resultados
UsersRecommend.to_parquet('UsersRecommend.parquet')

def UsersWorstDeveloper( año : int ): Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [243]:
df_copia1 = df_1
df_copia2 = df_2

In [244]:
df_devep = pd.merge(df_1, df_2, on='id', how='outer')
df_devep

,user_id,user_url,reviews_posted,id,reviews_helpful,reviews_recommend,reviews_review,sentiment_analysis,anio,genres,app_name,url,release_date,reviews_url,price,developer
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"Posted November 5, 2011.",1250.0,No ratings yet,True,Simple yet with great replayability. In my opi...,1.0,2011.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
1,EndAtHallow,http://steamcommunity.com/id/EndAtHallow,"Posted January 15, 2015.",1250.0,No ratings yet,True,"I've played a lot of zombie games in my time, ...",1.0,2015.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
2,76561198077432581,http://steamcommunity.com/profiles/76561198077...,"Posted December 12, 2014.",1250.0,No ratings yet,True,I can't wait for Killing Floor 2! I just love ...,1.0,2014.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
3,76561198057958244,http://steamcommunity.com/profiles/76561198057...,"Posted December 13, 2013.",1250.0,0 of 1 people (0%) found this review helpful,True,YES I RECCODMEEENDD THIS ♥♥♥♥♥ GAME,0.0,2013.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
4,46366536564574576346346546,http://steamcommunity.com/id/46366536564574576...,"Posted August 19, 2014.",1250.0,2 of 3 people (67%) found this review helpful,True,wow killihg Floor I like,1.0,2014.0,Action,Killing Floor,http://store.steampowered.com/app/1250/Killing...,2009-05-14,http://steamcommunity.com/app/1250/reviews/?br...,19.99,Tripwire Interactive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191146,NaN,NaN,NaN,658870.0,NaN,NaN,NaN,NaN,NaN,Indie,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,http://steamcommunity.com/app/658870/reviews/?...,4.99,"xropi,stev3ns"
191147,NaN,NaN,NaN,681550.0,NaN,NaN,NaN,NaN,NaN,Adventure,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,Valor no disponible
191148,NaN,NaN,NaN,681550.0,NaN,NaN,NaN,NaN,NaN,Indie,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,Valor no disponible
191149,NaN,NaN,NaN,681550.0,NaN,NaN,NaN,NaN,NaN,Action,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,Valor no disponible
191150,NaN,NaN,NaN,681550.0,NaN,NaN,NaN,NaN,NaN,Simulation,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,Valor no disponible

In [245]:
df_devep.columns

Index(['user_id', 'user_url', 'reviews_posted', 'id', 'reviews_helpful',
       'reviews_recommend', 'reviews_review', 'sentiment_analysis', 'anio',
       'genres', 'app_name', 'url', 'release_date', 'reviews_url', 'price',
       'developer'],
      dtype='object')

In [246]:
df_devep = df_devep.drop(columns=['user_url','reviews_posted', 'reviews_helpful', 'reviews_review','genres', 
                                  'app_name', 'url', 'release_date', 'reviews_url', 'price'])

In [247]:
df_devep

,user_id,id,reviews_recommend,sentiment_analysis,anio,developer
0,76561197970982479,1250.0,True,1.0,2011.0,Tripwire Interactive
1,EndAtHallow,1250.0,True,1.0,2015.0,Tripwire Interactive
2,76561198077432581,1250.0,True,1.0,2014.0,Tripwire Interactive
3,76561198057958244,1250.0,True,0.0,2013.0,Tripwire Interactive
4,46366536564574576346346546,1250.0,True,1.0,2014.0,Tripwire Interactive
...,...,...,...,...,...,...
191146,NaN,658870.0,NaN,NaN,NaN,"xropi,stev3ns"
191147,NaN,681550.0,NaN,NaN,NaN,Valor no disponible
191148,NaN,681550.0,NaN,NaN,NaN,Valor no disponible
191149,NaN,681550.0,NaN,NaN,NaN,Valor no disponible
191150,NaN,681550.0,NaN,NaN,NaN,Valor no disponible

In [248]:
df_devep = df_devep[df_devep['reviews_recommend'] != 1]
df_devep

,user_id,id,reviews_recommend,sentiment_analysis,anio,developer
6,kruger287,1250.0,False,0.0,2014.0,Tripwire Interactive
15,Aperturenc,1250.0,False,1.0,2014.0,Tripwire Interactive
39,76561198058477537,1250.0,False,0.0,2014.0,Tripwire Interactive
125,76561198091612238,1250.0,False,1.0,2014.0,Tripwire Interactive
150,76561197972261430,1250.0,False,1.0,2014.0,Tripwire Interactive
...,...,...,...,...,...,...
191146,NaN,658870.0,NaN,NaN,NaN,"xropi,stev3ns"
191147,NaN,681550.0,NaN,NaN,NaN,Valor no disponible
191148,NaN,681550.0,NaN,NaN,NaN,Valor no disponible
191149,NaN,681550.0,NaN,NaN,NaN,Valor no disponible
191150,NaN,681550.0,NaN,NaN,NaN,Valor no disponible

In [249]:
# Filtrar reseñas negativas
df_negativas = df_devep[df_devep['sentiment_analysis'] == 0]

# Agrupar por año y developer y contar el número de reseñas negativas
df_agrupado = df_negativas.groupby(['anio', 'developer']).size().reset_index(name='num_reviews_negativas')

# Encontrar los juegos con más reseñas negativas por año
resultados_2 = df_agrupado.groupby('anio').apply(lambda x: x.nlargest(3, 'num_reviews_negativas'))
resultados_2

              anio              developer  num_reviews_negativas
anio
2011.0 1    2011.0           Broken Rules                      2
       0    2011.0             1C Company                      1
       2    2011.0                  Valve                      1
2012.0 3    2012.0                  Valve                      1
       4    2012.0               Volition                      1
2013.0 48   2013.0    Valor no disponible                     11
       39   2013.0  Phosphor Games Studio                     10
       25   2013.0      Facepunch Studios                      7
2014.0 231  2014.0    Valor no disponible                     90
       219  2014.0   Trek Industries, Inc                     56
       62   2014.0    Bohemia Interactive                     50
2015.0 436  2015.0    Valor no disponible                    121
       303  2015.0      Facepunch Studios                     89
       259  2015.0    Bohemia Interactive                     60

In [200]:
UsersWorstDeveloper = resultados_2
UsersWorstDeveloper.to_parquet('UsersWorstDeveloper.parquet')

def sentiment_analysis( empresa desarrolladora : str ): Según la empresa desarrolladora, se devuelve un diccionario con el nombre de la desarrolladora como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor.
Ejemplo de retorno: {'Valve' : [Negative = 182, Neutral = 120, Positive = 278]}

In [201]:
df_sentiment_analysis = pd.merge(df_1, df_2, on='id', how='outer')

In [202]:
df_sentiment_analysis.columns

Index(['user_id', 'user_url', 'reviews_posted', 'id', 'reviews_helpful',
       'reviews_recommend', 'reviews_review', 'sentiment_analysis', 'anio',
       'genres', 'app_name', 'url', 'release_date', 'reviews_url', 'price',
       'developer'],
      dtype='object')

In [203]:
df_sentiment_analysis = df_sentiment_analysis.drop(columns=['user_id','user_url','reviews_posted','id', 'reviews_helpful', 
                                                            'reviews_review','genres','app_name', 'url', 'release_date', 
                                                            'reviews_url', 'price'])

In [204]:
df_sentiment_analysis

       reviews_recommend  sentiment_analysis    anio             developer
0                   True                 1.0  2011.0  Tripwire Interactive
1                   True                 1.0  2015.0  Tripwire Interactive
2                   True                 1.0  2014.0  Tripwire Interactive
3                   True                 0.0  2013.0  Tripwire Interactive
4                   True                 1.0  2014.0  Tripwire Interactive
...                  ...                 ...     ...                   ...
191146               NaN                 NaN     NaN         xropi,stev3ns
191147               NaN                 NaN     NaN   Valor no disponible
191148               NaN                 NaN     NaN   Valor no disponible
191149               NaN                 NaN     NaN   Valor no disponible
191150               NaN                 NaN     NaN   Valor no disponible

[191151 rows x 4 columns]

In [205]:
# Agrupar por 'developer' y 'sentiment_analysis', contar los valores y desapilarlos
df_grouped = df_sentiment_analysis.groupby(['developer', 'sentiment_analysis']).size().unstack(fill_value=0)

# Cambiar el nombre de las columnas
df_grouped.columns = ['cant_sentiment_negative', 'cant_sentiment_neutral', 'cant_sentiment_positive']

# Restaurar la columna 'developer'
df_grouped.reset_index(inplace=True)

# Mostrar el DataFrame resultante
print(df_grouped)

                                  developer  cant_sentiment_negative  \
0                            07th Expansion                        0
1     10th Art Studio,Adventure Productions                        0
2                                10tons Ltd                        0
3                            11 bit studios                       27
4                                  14° East                        1
...                                     ...                      ...
2085                            xXarabongXx                        0
2086                       △○□× (Miwashiba)                        0
2087                               インレ,Inre                        0
2088                                    橘子班                        3
2089                            高考恋爱委员会,橘子班                        0

      cant_sentiment_neutral  cant_sentiment_positive
0                          3                        0
1                          2                        0
2                          3                        0
3                        135                       21
4                          1                        0
...                      ...                      ...
2085                       3                        0
2086                       6                        4
2087                       4                        1
2088                       6                        3
2089                       8                        0

[2090 rows x 4 columns]

In [206]:
sentiment_analysis = df_grouped
sentiment_analysis.to_parquet('sentiment_analysis.parquet')

def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. Ejemplo de retorno:
Año	Cantidad de Items	Contenido Free
2023	50	27%
2022	45	25%
xxxx	xx	xx%

In [207]:
df_01 = df_games
df_02 = df_items
df_03 = df_reviews

para este punto voy a nesesitar df_01 (games):  developer, id, price

In [208]:
df_01

,genres,app_name,url,release_date,reviews_url,price,id,developer
88310,Action,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0,Kotoshiro
88310,Casual,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0,Kotoshiro
88310,Indie,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0,Kotoshiro
88310,Simulation,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0,Kotoshiro
88310,Strategy,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0,Kotoshiro
...,...,...,...,...,...,...,...,...
120443,Indie,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,http://steamcommunity.com/app/658870/reviews/?...,4.99,658870.0,"xropi,stev3ns"
120444,Adventure,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,681550.0,Valor no disponible
120444,Indie,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,681550.0,Valor no disponible
120444,Action,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,681550.0,Valor no disponible
120444,Simulation,Maze Run VR,http://store.steampowered.com/app/681550/Maze_...,Valor no disponible,http://steamcommunity.com/app/681550/reviews/?...,4.99,681550.0,Valor no disponible

In [209]:
df_01.columns

Index(['genres', 'app_name', 'url', 'release_date', 'reviews_url', 'price',
       'id', 'developer'],
      dtype='object')

In [210]:
# Lista de columnas a eliminar
columnas_a_eliminar = ['genres', 'app_name', 'url', 'release_date', 'reviews_url']

# Dropear las columnas especificadas
df_01 = df_01.drop(columns=columnas_a_eliminar)
df_01

        price        id            developer
88310    4.99  761140.0            Kotoshiro
88310    4.99  761140.0            Kotoshiro
88310    4.99  761140.0            Kotoshiro
88310    4.99  761140.0            Kotoshiro
88310    4.99  761140.0            Kotoshiro
...       ...       ...                  ...
120443   4.99  658870.0        xropi,stev3ns
120444   4.99  681550.0  Valor no disponible
120444   4.99  681550.0  Valor no disponible
120444   4.99  681550.0  Valor no disponible
120444   4.99  681550.0  Valor no disponible

[73186 rows x 3 columns]

In [211]:
df_01

        price        id            developer
88310    4.99  761140.0            Kotoshiro
88310    4.99  761140.0            Kotoshiro
88310    4.99  761140.0            Kotoshiro
88310    4.99  761140.0            Kotoshiro
88310    4.99  761140.0            Kotoshiro
...       ...       ...                  ...
120443   4.99  658870.0        xropi,stev3ns
120444   4.99  681550.0  Valor no disponible
120444   4.99  681550.0  Valor no disponible
120444   4.99  681550.0  Valor no disponible
120444   4.99  681550.0  Valor no disponible

[73186 rows x 3 columns]

In [212]:
# Calcular la cantidad total de juegos producidos por desarrollador
df_01['Cantidad de Juegos por Developer'] = df_01.groupby('developer')['id'].transform('count')
df_01
# Calcular la cantidad de juegos gratuit

        price        id            developer  Cantidad de Juegos por Developer
88310    4.99  761140.0            Kotoshiro                                 5
88310    4.99  761140.0            Kotoshiro                                 5
88310    4.99  761140.0            Kotoshiro                                 5
88310    4.99  761140.0            Kotoshiro                                 5
88310    4.99  761140.0            Kotoshiro                                 5
...       ...       ...                  ...                               ...
120443   4.99  658870.0        xropi,stev3ns                                 6
120444   4.99  681550.0  Valor no disponible                              6053
120444   4.99  681550.0  Valor no disponible                              6053
120444   4.99  681550.0  Valor no disponible                              6053
120444   4.99  681550.0  Valor no disponible                              6053

[73186 rows x 4 columns]

In [213]:
df_01[df_01['price'] == 0]

        price        id           developer  Cantidad de Juegos por Developer
88311     0.0  643980.0    Secret Level SRL                                 3
88311     0.0  643980.0    Secret Level SRL                                 3
88311     0.0  643980.0    Secret Level SRL                                 3
88312     0.0  670290.0        Poolians.com                                 4
88312     0.0  670290.0        Poolians.com                                 4
...       ...       ...                 ...                               ...
120435    0.0  771810.0  Retro Army Limited                                16
120435    0.0  771810.0  Retro Army Limited                                16
120435    0.0  771810.0  Retro Army Limited                                16
120438    0.0  769330.0            Riviysky                                 6
120438    0.0  769330.0            Riviysky                                 6

[7712 rows x 4 columns]

In [214]:
# Calcular el porcentaje de juegos gratuitos por desarrollador
df_01['Porcentaje de Juegos Gratuitos'] = (df_01['price'] == 0).groupby(df_01['developer']).transform('mean') * 100

# Mostrar el DataFrame resultante
df_01

,price,id,developer,Cantidad de Juegos por Developer,Porcentaje de Juegos Gratuitos
88310,4.99,761140.0,Kotoshiro,5,0.000000
88310,4.99,761140.0,Kotoshiro,5,0.000000
88310,4.99,761140.0,Kotoshiro,5,0.000000
88310,4.99,761140.0,Kotoshiro,5,0.000000
88310,4.99,761140.0,Kotoshiro,5,0.000000
...,...,...,...,...,...
120443,4.99,658870.0,"xropi,stev3ns",6,0.000000
120444,4.99,681550.0,Valor no disponible,6053,17.313729
120444,4.99,681550.0,Valor no disponible,6053,17.313729
120444,4.99,681550.0,Valor no disponible,6053,17.313729
120444,4.99,681550.0,Valor no disponible,6053,17.313729

In [215]:
# Dropear las columnas 'price' y 'id'
df_01.drop(['price', 'id'], axis=1, inplace=True)

# Mostrar el DataFrame resultante
df_01

,developer,Cantidad de Juegos por Developer,Porcentaje de Juegos Gratuitos
88310,Kotoshiro,5,0.000000
88310,Kotoshiro,5,0.000000
88310,Kotoshiro,5,0.000000
88310,Kotoshiro,5,0.000000
88310,Kotoshiro,5,0.000000
...,...,...,...
120443,"xropi,stev3ns",6,0.000000
120444,Valor no disponible,6053,17.313729
120444,Valor no disponible,6053,17.313729
120444,Valor no disponible,6053,17.313729
120444,Valor no disponible,6053,17.313729

In [216]:
# Agrupar por la columna 'developer' y aplicar funciones de agregación
df_developer = df_01.groupby('developer').agg({
    'Cantidad de Juegos por Developer': 'first',  # Tomar el primer valor
    'Porcentaje de Juegos Gratuitos': 'first'  # Tomar el primer valor
}).reset_index()

# Mostrar el DataFrame resultante
df_developer

,developer,Cantidad de Juegos por Developer,Porcentaje de Juegos Gratuitos
0,+7 Software,3,0.0
1,"+Mpact Games, LLC.",2,0.0
2,.M.Y.W.,2,0.0
3,.ez Games,5,0.0
4,07th Expansion,11,0.0
...,...,...,...
10926,致意,4,0.0
10927,萌石游戏,4,0.0
10928,高考恋爱委员会,4,100.0
10929,"高考恋爱委员会,Days",4,0.0
10930,"高考恋爱委员会,橘子班",8,0.0

In [217]:
df_developer.to_parquet('developer.parquet')

def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.
Ejemplo de retorno: {"Usuario X" : us213ndjss09sdf, "Dinero gastado": 200 USD, "% de recomendación": 20%, "cantidad de items": 5}

para el siguiente df nesesito:
- el usuario
- cantidad dinero gastado
- cantidad de juegos comprados
- porcentaje de reviews

In [218]:
df_03.columns

Index(['user_id', 'user_url', 'reviews_posted', 'reviews_item_id',
       'reviews_helpful', 'reviews_recommend', 'reviews_review',
       'sentiment_analysis', 'anio'],
      dtype='object')

In [219]:
# Asignar el DataFrame df_03 a df_userdata
df_userdata = df_03

# Dropear las columnas especificadas
columnas_a_eliminar = ['user_url', 'reviews_posted', 'reviews_helpful', 'reviews_review']
df_userdata = df_userdata.drop(columnas_a_eliminar, axis=1)

# Mostrar el DataFrame resultante
df_userdata

,user_id,reviews_item_id,reviews_recommend,sentiment_analysis,anio
0,76561197970982479,1250.0,True,1,2011.0
1,js41637,251610.0,True,1,2014.0
2,evcentric,248820.0,True,2,NaN
3,doctr,250320.0,True,2,2013.0
4,maplemage,211420.0,True,1,2014.0
...,...,...,...,...,...
231291,How51,440.0,True,1,2014.0
231293,76561198111410893,304930.0,True,1,2014.0
231419,zaza147,265630.0,True,2,2015.0
231499,lifeonhigh,304050.0,True,1,2015.0
231501,EchoXSilence,570.0,False,1,NaN

In [220]:
df_01 = pd.read_parquet('../archivos_limpios/games.parquet')

In [221]:
df_userdata.rename(columns={'reviews_item_id': 'id'}, inplace=True)

In [222]:
df_01['id'].dtype
df_userdata['id'].dtype

dtype('float64')

In [223]:
# Convertir la columna 'columna1' del DataFrame df1 a tipo entero
df_01['id'] = df_01['id'].astype(int)

# Convertir la columna 'columna2' del DataFrame df2 a tipo entero
df_userdata['id'] = df_userdata['id'].astype(int)

In [224]:
df_01['id'].dtype

dtype('int32')

In [225]:
df_userdata['id'].dtype

dtype('int32')

In [226]:
df_01.columns

Index(['genres', 'app_name', 'url', 'release_date', 'reviews_url', 'price',
       'id', 'developer'],
      dtype='object')

In [227]:
# Agrupar por la columna 'id' y aplicar funciones de agregación
df_juegos = df_01.groupby('id').agg({
    'app_name': 'first',  # Tomar el primer valor
    'price': 'first'  # Tomar el primer valor
}).reset_index()

# Mostrar el DataFrame resultante
df_juegos

            id                                           app_name  price
0           10                                     Counter-Strike   9.99
1           20                              Team Fortress Classic   4.99
2           30                                      Day of Defeat   4.99
3           40                                 Deathmatch Classic   4.99
4           50                          Half-Life: Opposing Force   4.99
...        ...                                                ...    ...
31094  2028055  Tom Clancy's Ghost Recon Future Soldier - Seas...  24.99
31095  2028056                       Worms Revolution Season Pass  14.99
31096  2028062            Call of Duty®: Black Ops II Season Pass  49.99
31097  2028103                  Assassin’s Creed® III Season Pass  29.99
31098  2028850               Bioshock Infinite: Columbia's Finest   4.99

[31099 rows x 3 columns]

In [228]:
# Suponiendo que 'df_compras' contiene el historial de compras de los usuarios y 'df_precios' contiene los precios de cada juego
df_compras = df_userdata
df_precios = df_juegos

# Unir los DataFrames 'df_compras' y 'df_precios' basado en el id del juego
df_compras_con_precios = pd.merge(df_compras, df_precios, on='id', how='left')

# Mostrar el DataFrame resultante
df_compras_con_precios

,user_id,id,reviews_recommend,sentiment_analysis,anio,app_name,price
0,76561197970982479,1250,True,1,2011.0,Killing Floor,19.99
1,js41637,251610,True,1,2014.0,NaN,NaN
2,evcentric,248820,True,2,NaN,Risk of Rain,9.99
3,doctr,250320,True,2,2013.0,The Wolf Among Us,24.99
4,maplemage,211420,True,1,2014.0,DARK SOULS™: Prepare To Die™ Edition,19.99
...,...,...,...,...,...,...,...
57392,How51,440,True,1,2014.0,Team Fortress 2,0.00
57393,76561198111410893,304930,True,1,2014.0,Unturned,0.00
57394,zaza147,265630,True,2,2015.0,Fistful of Frags,0.00
57395,lifeonhigh,304050,True,1,2015.0,Trove,0.00
57396,EchoXSilence,570,False,1,NaN,Dota 2,0.00

In [229]:
df_user_gasto = df_compras_con_precios 
df_user_gasto

,user_id,id,reviews_recommend,sentiment_analysis,anio,app_name,price
0,76561197970982479,1250,True,1,2011.0,Killing Floor,19.99
1,js41637,251610,True,1,2014.0,NaN,NaN
2,evcentric,248820,True,2,NaN,Risk of Rain,9.99
3,doctr,250320,True,2,2013.0,The Wolf Among Us,24.99
4,maplemage,211420,True,1,2014.0,DARK SOULS™: Prepare To Die™ Edition,19.99
...,...,...,...,...,...,...,...
57392,How51,440,True,1,2014.0,Team Fortress 2,0.00
57393,76561198111410893,304930,True,1,2014.0,Unturned,0.00
57394,zaza147,265630,True,2,2015.0,Fistful of Frags,0.00
57395,lifeonhigh,304050,True,1,2015.0,Trove,0.00
57396,EchoXSilence,570,False,1,NaN,Dota 2,0.00

In [230]:
# Agrupar por usuario y calcular el total de price gastado por usuario
df_user_gasto['total_price_por_usuario'] = df_user_gasto.groupby('user_id')['price'].transform('sum')

# Mostrar el DataFrame resultante
df_user_gasto

,user_id,id,reviews_recommend,sentiment_analysis,anio,app_name,price,total_price_por_usuario
0,76561197970982479,1250,True,1,2011.0,Killing Floor,19.99,29.98
1,js41637,251610,True,1,2014.0,NaN,NaN,29.98
2,evcentric,248820,True,2,NaN,Risk of Rain,9.99,68.94
3,doctr,250320,True,2,2013.0,The Wolf Among Us,24.99,99.95
4,maplemage,211420,True,1,2014.0,DARK SOULS™: Prepare To Die™ Edition,19.99,49.97
...,...,...,...,...,...,...,...,...
57392,How51,440,True,1,2014.0,Team Fortress 2,0.00,39.97
57393,76561198111410893,304930,True,1,2014.0,Unturned,0.00,74.96
57394,zaza147,265630,True,2,2015.0,Fistful of Frags,0.00,49.96
57395,lifeonhigh,304050,True,1,2015.0,Trove,0.00,44.95
57396,EchoXSilence,570,False,1,NaN,Dota 2,0.00,89.96

In [231]:
# Agregar una columna que muestre la cantidad total de juegos por usuario
df_user_gasto['cantidad_total_juegos_por_usuario'] = df_user_gasto.groupby('user_id')['id'].transform('count')

# Mostrar el DataFrame resultante
df_user_gasto

,user_id,id,reviews_recommend,sentiment_analysis,anio,app_name,price,total_price_por_usuario,cantidad_total_juegos_por_usuario
0,76561197970982479,1250,True,1,2011.0,Killing Floor,19.99,29.98,3
1,js41637,251610,True,1,2014.0,NaN,NaN,29.98,3
2,evcentric,248820,True,2,NaN,Risk of Rain,9.99,68.94,6
3,doctr,250320,True,2,2013.0,The Wolf Among Us,24.99,99.95,6
4,maplemage,211420,True,1,2014.0,DARK SOULS™: Prepare To Die™ Edition,19.99,49.97,4
...,...,...,...,...,...,...,...,...,...
57392,How51,440,True,1,2014.0,Team Fortress 2,0.00,39.97,9
57393,76561198111410893,304930,True,1,2014.0,Unturned,0.00,74.96,9
57394,zaza147,265630,True,2,2015.0,Fistful of Frags,0.00,49.96,9
57395,lifeonhigh,304050,True,1,2015.0,Trove,0.00,44.95,9
57396,EchoXSilence,570,False,1,NaN,Dota 2,0.00,89.96,9

In [232]:
df = df_user_gasto
# Calcular el porcentaje de recomendación por usuario
df['porcentaje_recomendacion'] = (df['reviews_recommend'] / df['cantidad_total_juegos_por_usuario']) * 100

# Mostrar el DataFrame resultante

In [233]:
df_user_gasto = df
df_user_gasto

,user_id,id,reviews_recommend,sentiment_analysis,anio,app_name,price,total_price_por_usuario,cantidad_total_juegos_por_usuario,porcentaje_recomendacion
0,76561197970982479,1250,True,1,2011.0,Killing Floor,19.99,29.98,3,33.333333
1,js41637,251610,True,1,2014.0,NaN,NaN,29.98,3,33.333333
2,evcentric,248820,True,2,NaN,Risk of Rain,9.99,68.94,6,16.666667
3,doctr,250320,True,2,2013.0,The Wolf Among Us,24.99,99.95,6,16.666667
4,maplemage,211420,True,1,2014.0,DARK SOULS™: Prepare To Die™ Edition,19.99,49.97,4,25.000000
...,...,...,...,...,...,...,...,...,...,...
57392,How51,440,True,1,2014.0,Team Fortress 2,0.00,39.97,9,11.111111
57393,76561198111410893,304930,True,1,2014.0,Unturned,0.00,74.96,9,11.111111
57394,zaza147,265630,True,2,2015.0,Fistful of Frags,0.00,49.96,9,11.111111
57395,lifeonhigh,304050,True,1,2015.0,Trove,0.00,44.95,9,11.111111
57396,EchoXSilence,570,False,1,NaN,Dota 2,0.00,89.96,9,0.000000

In [234]:
df_user_gasto.columns

Index(['user_id', 'id', 'reviews_recommend', 'sentiment_analysis', 'anio',
       'app_name', 'price', 'total_price_por_usuario',
       'cantidad_total_juegos_por_usuario', 'porcentaje_recomendacion'],
      dtype='object')

In [235]:
columnas_a_eliminar = ['reviews_recommend', 'sentiment_analysis', 'app_name','price','id']
# Eliminar las columnas especificadas
df_user_gasto = df_user_gasto.drop(columns=columnas_a_eliminar)

df_user_gasto

,user_id,anio,total_price_por_usuario,cantidad_total_juegos_por_usuario,porcentaje_recomendacion
0,76561197970982479,2011.0,29.98,3,33.333333
1,js41637,2014.0,29.98,3,33.333333
2,evcentric,NaN,68.94,6,16.666667
3,doctr,2013.0,99.95,6,16.666667
4,maplemage,2014.0,49.97,4,25.000000
...,...,...,...,...,...
57392,How51,2014.0,39.97,9,11.111111
57393,76561198111410893,2014.0,74.96,9,11.111111
57394,zaza147,2015.0,49.96,9,11.111111
57395,lifeonhigh,2015.0,44.95,9,11.111111
57396,EchoXSilence,NaN,89.96,9,0.000000

In [236]:
userdata = df_user_gasto

In [237]:
userdata.to_parquet('userdata.parquet')

def best_developer_year( año : int ): Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)

In [238]:
df_01 = df_copia1
df_02 = df_copia2

In [239]:
df_devep = pd.merge(df_01, df_02, on='id', how='outer')
df_devep

df_devep = df_devep.drop(columns=['user_url','reviews_posted', 'reviews_helpful', 'reviews_review','genres', 
                                  'app_name', 'url', 'release_date', 'reviews_url', 'price'])

df_devep = df_devep[df_devep['reviews_recommend'] != 0]
df_devep

# Filtrar reseñas positivas
df_positivas = df_devep[df_devep['sentiment_analysis'] == 2]

# Agrupar por año y developer y contar el número de reseñas positivas
df_agrupado = df_positivas.groupby(['anio', 'developer']).size().reset_index(name='num_reviews_positivas')

# Encontrar los juegos con más reseñas positivas por año
resultados_2 = df_agrupado.groupby('anio').apply(lambda x: x.nlargest(3, 'num_reviews_positivas'))
resultados_2

               anio             developer  num_reviews_positivas
anio
2010.0 7     2010.0                 Valve                     10
       2     2010.0     Facepunch Studios                      4
       6     2010.0  Tripwire Interactive                      3
2011.0 76    2011.0                 Valve                     91
       55    2011.0              Re-Logic                     36
       37    2011.0           Grey Havens                     15
2012.0 177   2012.0                 Valve                    191
       138   2012.0              Re-Logic                     72
       176   2012.0   Valor no disponible                     60
2013.0 447   2013.0   Valor no disponible                    659
       448   2013.0                 Valve                    588
       274   2013.0     Facepunch Studios                    305
2014.0 1003  2014.0   Valor no disponible                   1657
       1004  2014.0                 Valve                   1267
       634   2014.0     Facepunch Studios                   1075
2015.0 1690  2015.0   Valor no disponible                   1006
       1691  2015.0                 Valve                    847
       1240  2015.0     Facepunch Studios                    464

In [242]:
UsersbestDeveloper = resultados_2
UsersbestDeveloper.to_parquet('UsersbestDeveloper.parquet')